@font-face {
    font-family: 'sf-pro';
    src: url('/assets/fonts/SF-Pro.ttf');
}

* {
    font-family: 'sf-pro';
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    width: 100vw;
}

header {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100vw;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header button {
    background-color: transparent;
    border: none;
    color: white;
    margin: 0 10px 0 10px;
}

header button a {
    height: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    font-weight: lighter;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    height: 40vh;
    background-color: #F5F5F7;
    margin: 2.5rem 10px 0 10px;
}

.about h1 {
    font-size: 2vw;
    font-weight: 400;
    margin-top: 5vh;
    color: #1d1d1f;
    width: 30%;
    margin-left: 3vw;
}


.about h1 p {
    font-size: 1.3vw;
    font-weight: lighter;
}

.about h1 span {
    color: #007AFF
}

.about img {
    width: 25vh;
    margin-top: 6.5vh;
}

.services {
    margin: 10px 10px 0 10px;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services .services-container {
    width: 49.7%;
    height: 100%;
    background-color: #1d1d1f;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.services .services-container h1 {
    position: absolute;
    margin-top: -14vh;
    font-weight: 400;
    font-size: 1.5vw;
}

.services .services-items {
    margin-top: 5vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 80%;
}

.services-items img {
    width: 5vw;
    margin: 0 2vw 0 2vw;
}

.services-items .design {
    width: 2.6vw;
}

.services-items .fullstack {
    margin-top: -5px;
}

.services .contact-container {
    width: 49.7%;
    height: 100%;
    background-color: #F5F5F7;
    border-radius: 10px;
    color: #1d1d1f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.services .contact-container h1 {
    margin-top: -14vh;
    position: absolute;
    font-weight: 400;
    font-size: 1.5vw;
}

.services .contact-items {
    margin-top: 5vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 80%;
}

.contact-container button {
    background-color: transparent;
    border: none;
}

.contact-container img {
    width: 3vw;
}

.talk {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9vh;
    font-size: 2vw;
    font-weight: 400;
}

.talk span {
    color: #F35F7E;
}

.findmore-container {
    height: 10vh;
    background-color: #F5F5F7;
    margin:10px 10px 0 10px;
    border-radius: 10px;
}

.projects{
    height: 96vh;
    background-color: #F5F5F7;
    margin:10px 10px 0 10px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #1d1d1f;
    width: 49%;
}

.header-projects{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d2d2d7;
    width: 70vw;
    height: 7vh;
}

.header-projects button{
    background-color: transparent;
    border: none;
    margin: 0 50px 0 50px;
}

.header-projects button a{
    color: #1d1d1f;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

.header-projects button a:hover{
    color: #1d1d1f;
    text-decoration: underline;
    text-underline-offset: 2.8vh; 
    font-weight: 400;
}

.image-container{
    margin-top: 17vh;
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img{
    width: 80vh;
}

.image-container div{
    position: absolute;
    margin-right: -100vw;
    width: 40vw;
}

.image-container h1{
    font-weight: 500;
}

.image-container .ativamente{
    color: #6e6e73;
}

.image-container .oficina{
    color: #6bca4e;
}

.image-container .tickets{
    color: #F35F7E;
}

.image-container p{
    font-weight: lighter;
    font-size: 20px;
}

@media (max-aspect-ratio: 4/2.8){
    .projects{
        width: 96%;
    }
    .projects img{
        width: 70vw;
    }

    .projects .header-projects{
        width: 100vw;
    }
    .projects .header-projects button{
        margin: 0 15px 0 15px;
    }
    .image-container div{
        position: relative;
        margin-right: 0;
        margin-bottom: 30px;
        width: 95%;
    }

    .about h1{
        font-size: 20px;
        width: 40vw;
    }

    .about h1 p{
        font-size: 12px;
    }

    .services .services-container h1{
        font-size: 16px;
    }
    .services .contact-container h1{
        font-size: 16px;
    }
    .services .services-items{
        width: 100%;
    }

    .services .services-items img{
        width: 50px;
     }

    .services .services-items .design{
        width: 25px;
     }

     .services .contact-items{
         width: 100%;
     }
 
     .services .contact-items img{
         width: 30px;
      }
      .talk{
        font-size: 20px;
    }
 
    
}

/* @media (max-width: 630px){
    .projects .header-projects button{
        background-color: green;

    }
    .projects .header-projects button a{
        font-size: 2vw;
        background-color: red;
    }
} */
