@font-face {
    font-family: 'sf-pro';
    src: url('/assets/fonts/SF-Pro.ttf');
}

*{
    font-family: 'sf-pro';
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    width: 100vw;    
}

header{
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100vw;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header button{
    background-color: transparent;
    border: none;
    color: white;
    margin: 0 10px 0 10px;
}

header button a{
    height: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    font-weight: lighter;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    height: 60vh;
    background-color: #F5F5F7;
    margin: 2.5rem 10px 0 10px;
}

.about h1{
    position: absolute;
    font-size: 2vw;
    font-weight: 400;
    margin-top: 10vh;
    color: #1d1d1f;
}

.about h1 span{
    color: #007AFF
}
